header {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  width: 1500px;
  padding-left: 30px;
  border: 1px solid black;
}

.logo h3 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding: 5px 0px 0px 10px;
}

.navigation {
  justify-content: space-between;
  width: 350px;
  border: 1px solid black;
}

 ul {




}

span a {
  justify-content: space-between;
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.main {
  background-image: url("./resources/images/img-story-main.png");
  width: 1300px;
  display: flex;
  border: 1px solid black;
}

 .main .mother {
  background-image: url("../resources/images/img-story-main.png");
  background-size: cover;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.container div {
  background-image: url("../resources/images/img-story-main.png");
  border: 1px solid black;
}
